/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
/* font-family: 'Outfit', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  background-color: hsl(217, 54%, 11%);
  font-size: 18px;
  overflow: hidden;
}

ul {
  list-style: none;
}

h1 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
  color: hsl(0, 0%, 100%);
}


p {
  margin: 0.9rem 0;
  color: #fff;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.card>img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  max-width: 1440px;
  margin: 5% 40%;
  padding: 1.4rem;
  overflow: hidden;
  background-color: hsl(217, 54%, 11%);
  height: 80vh;
  width: 23vw;
  border-radius: 20px;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.10rem;
}

.content h1 {
  font-size: 1.15rem;
}

.content p {
  font-size: 13px;
  color: hsl(215, 51%, 70%);
}

.content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px solid hsl(215, 51%, 70%);
}

.content ul img {
  width: 11%;
  margin-right: 0.1rem;
}

.content ul li:first-child {
  color: hsl(178, 100%, 50%);
  font-size: 12px;
  text-align: center;
}

.content ul li:last-child {
  font-size: 12px;
  text-align: center;
  color: hsl(215, 51%, 70%);
}

.content .profile img {
  width: 12%;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: -3px;
  margin-right: 10px;
}

span {
  color: hsl(215, 51%, 70%);
}

.profile {
  color: #fff !important;
}

.content .profile {
  font-size: 0.8rem;
}


@media (max-width:376px) {

  .container {
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    overflow: scroll;
  }

  .card {
    padding: 1.75rem;
    overflow: scroll;
  }

  .card>img {
    width: 100%;
    height: 100%;
  }

  .content h1 {
    font-size: 1.7rem;
  }

  .content p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .content ul img {
    width: 13%;
    margin-right: 0.3rem;
  }

  .content ul li:first-child {
    color: hsl(178, 100%, 50%);
    font-size: 13px;
    text-align: center;
  }

  .content ul li:last-child {
    font-size: 17px;
    text-align: center;
    color: hsl(215, 51%, 70%);
  }

  .content .profile img {
    width: 16%;
    margin-top: 5px;
  }

  .content .profile {
    font-size: 1.2rem;
  }
}